

@media(min-width:768px) and (max-width:1024px){
    .NavbarMenu{
        margin-left: 110px;
    }
    .NavBarUl{
        color: white;
    }
}
@media (max-width:767px){
    .NavBarUl{
        color: white;
    }
}