

#Nav1{
  overflow-x: hidden;
margin-left: auto;
  


}

#Nav1 .Nav2{
    font-size: 23px;
    padding-left: 60px;
    font-weight: 600;
}

@media(max-width:991px){
    #Nav1{
        
        margin:auto;
        align-items: right;
        border-radius: 5px;
        width: 70vw;
        background-color: rgba(13, 0, 59, 0.781);
        }
        #Nav1 .Nav2{
            margin: auto;
            text-align: center;
            font-size: 24px;
            color: lavenderblush;
            text-shadow: 0px 0px 40px white;
        }

 .Navbar1{
            height: 90px;
        }
.BrandImg{ 
            width: 90px;
            height: 80px;
        }


    
}





 .BrandImg{
     width: 100px;
     height: 90px;
 }
.BrandImgMe{
    width: 100%;
    height: 100%;

}
.NavBarMenuOut{
    width: 100%;
    margin: auto;
    background-color: #F1F2F6;

}


@media (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    .NavBarMenuOut{
        width: 100%;
    
    }
    .navbarMenu{
        width:100%;
        margin: auto; 
        height: 70px;
    }
    .BrandImg{
        width: 55px;
        height: 50px;
          margin-top:-8%;
      }
        
      
    .navbarToggle{
     
        text-align: center;
        margin-top: -8%;
        margin-left: auto;
        justify-content: flex-end;  
    }
    
    .linked{
     color: white;
     margin: auto;
     width: 100px; 
    }

    .navbarCollapse{ 
        position: absolute;
        width: 150px;
        margin-left: -40%;
        margin-top: 50px;
        justify-content: start;   
        text-align: center;
        background-color: #1E1E1E;
        border-radius: 10px;
        z-index: 1;
   

    }
    .linked{
        color: white;
    }
    
}

@media (min-width:768px) and (max-width:990px){
  .navbarMenu{
      height: 60px;
  }
  .BrandImg{
    width: 55px;
    height: 50px;
      margin-top: -8%;
  }
    
  
    .navbarToggle{
        margin-top: -8%;
        margin-left: auto;
        justify-content: flex-end;  
        }
    .navbarCollapse {
        position: absolute;
        justify-content: start;
        background-color: black;
        width: 200px;
        height: auto;
       
        color: white;
        margin: auto;
        border-radius: 5px;
        text-align: center;
        z-index: 1;
        margin-top:50px;
        margin-left: -40%;
    }
    .selected{
        margin-top: 10px;
    }
    .linked{
        color: white;

    }

}
.navbarMenu ul li{
    text-decoration: none;
    list-style-type: none;
    color: #9DA7BB;
    font-size: 18px;
    margin-top: 10px;

}

.navbarCollapse  li {
    margin-inline: 20px;
   

}
.navbarMenu ul li a.active,
.navbarMenu ul li a:active,
.navbarMenu ul li a:hover{
    color: black;
}
.studd.active, .studd:active{
    color: black;
    border-bottom: 4px solid red;
    background-color: blue;
}
.linked{
    list-style-type: none;
    font-size: 20px;
    border-bottom: none;
}
.selected{
    border-bottom: 3px solid #536DFD;
    margin-inline: 30px;
    margin-top: 10px;
   
}
